<p>
  portfolio works!
</p>
<div class="row">
  <div class="left">
    <ul>
      <li><a routerLink="./portfoliohome" routerLinkActive="active">Portfolio Home</a></li>
      <li><a routerLink="./project1" routerLinkActive="active">Project One</a></li>
      <li><a routerLink="./project2" routerLinkActive="active">Project Two</a></li>
      <li><a routerLink="./project3" routerLinkActive="active">Project Three</a></li>
    </ul>
  </div>
  <div class="right">
      <router-outlet></router-outlet>
  </div>
</div>